<footer>
  <div class="container text-center">
  	<a class="text-center" href="https://github.com/DamiMartinez/dev-catalog" target="_blank"><%= fa_icon "github" %></a>
  	<p>Copyright &copy; 2016 Damian</p>
  </div>
</footer>